#box-container {
  display: flex;
  flex-wrap: wrap;
}
.box {
  margin: 5px;
  width: 100px;
  height: 100px;
  background-color: coral;
}
.box:hover {
  background-color: rgb(170, 110, 88);
}
.boxClicked {
  background-color: rgb(68, 9, 9);
}
